/*
Paletted Used:
Main Color: #3a3a3a

*/
/* Javascript classes*/
.hidden{
  display:none;
}


/*Animations*/
@-webkit-keyframes ContFadeSlideLeft{
  from {opacity:1;margin-left:0pt;}
  to {opacity:0;margin-left:-15pt;}
}

@keyframes ContFadeSlideLeft{
  from {opacity:1;margin-left:0pt;}
  to {opacity:0;margin-left:-15pt;}
}


@-webkit-keyframes ContFadeSlideRight{
  from {opacity:1;margin-rightt:0pt;}
  to {opacity:0;margin-right:-15pt;}
}

@keyframes ContFadeSlideRight{
  from {opacity:1;margin-right:0pt;}
  to {opacity:0;margin-right:-15pt;}
}

@-webkit-keyframes Drop{
  from{margin-top:-100vh;}
  to{margin-top:0;}
}
@keyframes Drop{
  from{margin-top:-100vh;}
  to{margin-top:0;}
}

@-webkit-keyframes type{
  from { width: 0; }
}
@keyframes type{
  from { width: 0; }
}

@-webkit-keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}
@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@-webkit-keyframes blink{
  to{opacity: .0;}
}
@keyframes blink{
  to{opacity: .0;}
}


body{
  background:url("../img/background.jpg") no-repeat center;
  background-size:cover;
  color: #f3f3f3;
  min-height:100vh;
}
.fullscreen{
  min-height:100vh;
}


.center-both{
  display: flex;
  align-items:center;

}
.center-both>h1{
  width:100%;
  text-align:center;
}

/* Nav Section (Footer)*/
nav{
  position: fixed;
  bottom: 0px;
  display: block;
  width: 100%;
  font-size: 3em;
  padding: 15pt;
  padding-right:35pt;
  padding-left:35pt;
}

nav .right{
  width:50%;
  display:inline-block;
  text-align: right;
  float:right;
  clear:both;
  animation-name:ContFadeSlideRight;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  -webkit-animation-name:ContFadeSlideRight;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
}

nav .right:hover{
  cursor:pointer;
  animation:0;
}

nav .left:hover{
  cursor:pointer;
  animation:0;
}

nav .left{
  width:50%;
  display:inline-block;
  text-align:left;
  clear:both;
  animation-name:ContFadeSlideLeft;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  -webkit-animation-name:ContFadeSlideLeft;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 1s;
}

/*Overlay*/
.overlay{
  background-color:rgba(236,236,236,0.90);
  color:#333;
  min-height:70vh;
  min-width:80vw;
  position:fixed;
  top:0px;
  left:0px;
  margin: 15vh 10vw 15vh 10vw;
  border-radius:15px;
  display:none;
  padding:25px;
}

.overlay h1{
  text-align:center;
  margin-bottom:15px;
}
.overlay p{
  font-size:1.2em;

}

.comment{
  color: #9e9e9e;
  font-style:oblique;
}

/*Intro Section*/
#title{
  position:relative;
}
section{
  text-align:center;
  width:100%;
  height:100vh;
  display:table;
}
.intro-body{
  display:table-cell;
  vertical-align:middle;
}
section h1{
  font-weight:bold;
  font-size:55pt;
}
#sec1 img{
  max-height:300px;
}
#sec1 .logos{
  padding:15pt;
}
#sec1 .logos img{
  height:100px;
  margin-right:15pt;
  margin-left:15pt;
}


/*Section 2*/
#sec2 img{
  max-height:300px;
}
#sec2 .logos{
  padding:15pt;
}
#sec2 .logos img{
  height:100px;
  margin-right:15pt;
  margin-left:15pt;
}
#sec2 p{
  font-size:1.2em;
}
#sec2 .content{
  display:none;

}


/*Section 3*/
#sec3{
  display:none;
  font-size:1.3em;
}
#sec3 p{
  font-size:1.3em;
}
#sec3 img{
  width:40vw;
  display:block;
  margin:auto;
}
.special{
  font-size:medium;
  font-weight:lighter;
}

/*Section 4*/
#sec4{
  display:none;
  font-size:1.3em;
}
#sec4 p{
  font-size:1.3em;
}

/*Section 5*/
#sec5{
  display:none;
  font-size:1.3em;
}

#sec5 p{
  font-size:1.3em;
}

/*Section 6*/
#sec6{
  display:none;
  font-size:1.3em;
}

#sec6 p{
  font-size:1.3em;
}


/*Section 7*/
#sec7{
  display:none;
  font-size:1.3em;
}

#sec7 p{
  font-size:1.3em;
}

#sec7 blockquote{
  display:inline-block;
  background:rgba(0,0,0,0.7);
  border-radius:5px;
}


/*Section 8*/
#sec8{
  display:none;
  font-size:1.3em;
}

#sec8 p{
  font-size:1.3em;
}

#sec8 blockquote{
  display:inline-block;
  background:rgba(0,0,0,0.7);
  border-radius:5px;
}

/*Section 9*/
h2{
  font-size:3em;
  font-weight:bolder;
}
#sec9{
  display:none;
  font-size:1.3em;
}

#sec9 p{
  font-size:1.3em;
}

#sec9 blockquote{
  display:inline-block;
  background:rgba(0,0,0,0.7);
  border-radius:5px;
}

/*Code Container*/
.code-container{
  
}
